 <!--====== Page Banner Start ======-->

<section class="page-banner">
  <div class="page-banner-bg bg_cover" style="background-image: url(assets/images/page-banner.jpg);">
    <div class="container">
      <div class="banner-content text-center">
        <h2 class="title">Chi tiết tin tức</h2>
      </div>
    </div>
  </div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== Blog Details Start ======-->

<section class="blog-details-page mb-5" *ngIf="news">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8">
        <div class="blog-details-content">
          <div class="details-content mt-50">
            <img [src]="news.image" alt="">
            <ul class="meta">
              <li>Ngày đăng: {{news.updatedDate | date: 'dd/MM/yyyy'}}</li>
            </ul>
            <h3 class="title">{{news.title}}</h3>

            <div class="mt-4" [innerHTML]="news.content">
              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====== Blog Details Ends ======-->
